<!DOCTYPE html>
<html>
<head>
    <title>Image Grid</title>
    <style>
        .image-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }

        .image-grid img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Image Grid</h1>
    <a href = "/">Back To Index</a>
    <div class="image-grid">
        <img src="https://media.istockphoto.com/id/183819034/photo/two-dices.webp?b=1&s=170667a&w=0&k=20&c=CsOm6RAvUD-Cq2u2Z-HEp3x8U-U2yNFtboJmMIsLeqI=" alt="Image 1">
        <img src="https://media.istockphoto.com/id/1434700000/photo/handshake-in-logistics-shipping-partnership-and-industrial-networking-deal-agreement-and-team.webp?b=1&s=170667a&w=0&k=20&c=laT8d0llXUQL75HpmVQmCYYC008W7oETMg_BwTcbowE=" alt="Image 2">
        <img src="https://media.istockphoto.com/id/1364371014/photo/risk-management-and-mitigation-to-reduce-exposure-for-financial-investment-projects.webp?b=1&s=170667a&w=0&k=20&c=k1WEA87tSFOoWB3KWXVUJkhRP8SXz4vR21-_AhMRCtM=" alt="Image 3">
        <img src="https://media.istockphoto.com/id/1486730131/photo/consumer-rights-and-consumer-protection-business-law-concept-judge-gavel-on-a-laptop-computer.webp?b=1&s=170667a&w=0&k=20&c=5iEku1LXmqy0Z-Rw33sozRL2Jd0TgRBB58AlhI1Fvxs=" alt="Image 4">
    </div>
</body>
</html>
